In [1]:
import pandas as pd
import urllib.request
import zipfile
import sqlite3
import pyreadstat
import json
import os

import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
mortality_url = "https://www.murach.com/python_analysis/mortality.csv"
mortality_data = pd.read_csv(mortality_url)
mortality_data.head()

   Year  Age Group  Death Rate
0  1900  1-4 Years      1983.8
1  1901  1-4 Years      1695.0
2  1902  1-4 Years      1655.7
3  1903  1-4 Years      1542.1
4  1904  1-4 Years      1591.5

In [3]:
polls_url = "https://www.murach.com/python_analysis/president_polls_2016.csv"
urllib.request.urlretrieve(polls_url, "president_polls_2016.csv")

polls = pd.read_csv("president_polls_2016.csv")
polls.head(2)

,cycle,branch,type,matchup,forecastdate,state,startdate,enddate,pollster,grade,...,adjpoll_clinton,adjpoll_trump,adjpoll_johnson,adjpoll_mcmullin,multiversions,url,poll_id,question_id,createddate,timestamp
0,2016,President,polls-plus,Clinton vs. Trump vs. Johnson,11/8/2016,U.S.,11/3/2016,11/6/2016,ABC News/Washington Post,A+,...,45.20163,41.72430,4.626221,NaN,NaN,https://www.washingtonpost.com/news/the-fix/wp...,48630,76192,11/7/2016,11/8/2016 9:35
1,2016,President,polls-plus,Clinton vs. Trump vs. Johnson,11/8/2016,U.S.,11/1/2016,11/7/2016,Google Consumer Surveys,B,...,43.34557,41.21439,5.175792,NaN,NaN,https://datastudio.google.com/u/0/#/org//repor...,48847,76443,11/7/2016,11/8/2016 9:35

In [9]:
zip_url = "https://www.murach.com/python_analysis/oesm18all.zip"
urllib.request.urlretrieve(zip_url, "oesm18all.zip")

file_names = []

with zipfile.ZipFile('oesm18all.zip', mode='r') as zip:
    zip.extractall()
    for file in zip.infolist():
        file_names.append(file.filename) 

jobs = pd.read_excel(file_names[0])
jobs.head(2)

,area,area_title,area_type,naics,naics_title,i_group,own_code,occ_code,occ_title,o_group,...,h_median,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,annual,hourly
0,99,U.S.,1,000000,Cross-industry,cross-industry,1235,00-0000,All Occupations,total,...,18.58,30.06,47.31,20690,25740,38640,62510,98410,NaN,NaN
1,99,U.S.,1,000000,Cross-industry,cross-industry,1235,11-0000,Management Occupations,major,...,50.11,72.93,#,49260,70880,104240,151700,#,NaN,NaN

In [10]:
shots_url = "https://www.murach.com/python_analysis/shots.json"
urllib.request.urlretrieve(shots_url, filename="shots.json")


with open("shots.json") as json_data:
    shots = json.load(json_data)

allRows = shots['resultSets'][0]['rowSet']
columnHeaders = [x.lower() for x in shots['resultSets'][0]['headers']]
shots = pd.DataFrame(data=allRows, columns=columnHeaders)
shots.head(2)

,grid_type,game_id,game_event_id,player_id,player_name,team_id,team_name,period,minutes_remaining,seconds_remaining,...,shot_zone_area,shot_zone_range,shot_distance,loc_x,loc_y,shot_attempted_flag,shot_made_flag,game_date,htm,vtm
0,Shot Chart Detail,0020900015,4,201939,Stephen Curry,1610612744,Golden State Warriors,1,11,25,...,Right Side Center(RC),24+ ft.,26,99,249,1,0,20091028,GSW,HOU
1,Shot Chart Detail,0020900015,17,201939,Stephen Curry,1610612744,Golden State Warriors,1,9,31,...,Left Side Center(LC),16-24 ft.,18,-122,145,1,1,20091028,GSW,HOU