In [3]:
import pandas as pd

url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/college-majors/women-stem.csv"

df = pd.read_csv(url) # will read the csv

df.head() # display first 5 values

,Rank,Major_code,Major,Major_category,Total,Men,Women,ShareWomen,Median
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,2057,282,0.120564,110000
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,679,77,0.101852,75000
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,725,131,0.153037,73000
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,1123,135,0.107313,70000
4,5,2418,NUCLEAR ENGINEERING,Engineering,2573,2200,373,0.144967,65000

In [4]:
df.info() # gives the information about dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            76 non-null     int64
 1   Major_code      76 non-null     int64
 2   Major           76 non-null     object
 3   Major_category  76 non-null     object
 4   Total           76 non-null     int64
 5   Men             76 non-null     int64
 6   Women           76 non-null     int64
 7   ShareWomen      76 non-null     float64
 8   Median          76 non-null     int64
dtypes: float64(1), int64(6), object(2)
memory usage: 5.5+ KB

In [5]:
df.describe() # give general statsistics about the dataset

,Rank,Major_code,Total,Men,Women,ShareWomen,Median
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,38.500000,3580.026316,25515.289474,12800.763158,12714.526316,0.436929,46118.421053
std,22.083176,1437.455038,43998.008553,21307.554101,29056.014723,0.232176,13187.223216
min,1.000000,1301.000000,609.000000,488.000000,77.000000,0.077453,26000.000000
25%,19.750000,2409.750000,3782.000000,2047.750000,1227.500000,0.247918,36150.000000
50%,38.500000,3601.500000,11047.500000,4583.000000,5217.500000,0.405868,44350.000000
75%,57.250000,5002.250000,27509.250000,11686.500000,12463.500000,0.591803,52250.000000
max,76.000000,6199.000000,280709.000000,111762.000000,187621.000000,0.967998,110000.000000

In [6]:
df['Major_code'].describe() # only describe a specific column

count      76.000000
mean     3580.026316
std      1437.455038
min      1301.000000
25%      2409.750000
50%      3601.500000
75%      5002.250000
max      6199.000000
Name: Major_code, dtype: float64

In [7]:
df['Major_category'].value_counts() # it gives the unique values in menitoned category

Major_category
Engineering                29
Biology & Life Science     14
Health                     12
Computers & Mathematics    11
Physical Sciences          10
Name: count, dtype: int64

In [8]:
df['Major_category'].value_counts(normalize=True) # it represents the fraction of each category

Major_category
Engineering                0.381579
Biology & Life Science     0.184211
Health                     0.157895
Computers & Mathematics    0.144737
Physical Sciences          0.131579
Name: proportion, dtype: float64

In [9]:
df['ShareWomen'].mean() # it gives avareage of this column

np.float64(0.43692924057894733)

In [10]:
# This line filters the DataFrame to include only rows where the 'Major_category' is 'Engineering'.
# Then, it selects the 'ShareWomen' column for those rows.
# The result is a Series showing the proportion of women in each engineering major.
# You can use this to analyze gender representation in engineering fields.
df['ShareWomen'].loc[df['Major_category'] == 'Engineering']

0     0.120564
1     0.101852
2     0.153037
3     0.107313
4     0.144967
5     0.341631
7     0.119559
8     0.139793
9     0.196450
10    0.199413
11    0.310820
12    0.437847
13    0.183985
14    0.320784
15    0.343473
16    0.252960
17    0.350442
19    0.292607
20    0.325092
21    0.189970
22    0.227118
23    0.251389
24    0.322222
25    0.342229
27    0.249190
38    0.174123
43    0.077453
44    0.200023
46    0.451465
Name: ShareWomen, dtype: float64

In [11]:
df['Major_category'].unique()

array(['Engineering', 'Physical Sciences', 'Computers & Mathematics',
       'Health', 'Biology & Life Science'], dtype=object)

In [12]:
unique_major_categories = df['Major_category'].unique().tolist()

In [13]:
df.columns

Index(['Rank', 'Major_code', 'Major', 'Major_category', 'Total', 'Men',
       'Women', 'ShareWomen', 'Median'],
      dtype='object')

In [14]:
import numpy as np

df.iloc[50:55,3] = np.nan # make the values null

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            76 non-null     int64
 1   Major_code      76 non-null     int64
 2   Major           76 non-null     object
 3   Major_category  71 non-null     object
 4   Total           76 non-null     int64
 5   Men             76 non-null     int64
 6   Women           76 non-null     int64
 7   ShareWomen      76 non-null     float64
 8   Median          76 non-null     int64
dtypes: float64(1), int64(6), object(2)
memory usage: 5.5+ KB

In [16]:
df.isnull()

,Rank,Major_code,Major,Major_category,Total,Men,Women,ShareWomen,Median
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
71,False,False,False,False,False,False,False,False,False
72,False,False,False,False,False,False,False,False,False
73,False,False,False,False,False,False,False,False,False
74,False,False,False,False,False,False,False,False,False
75,False,False,False,False,False,False,False,False,False

In [17]:
df.isnull().sum()

Rank              0
Major_code        0
Major             0
Major_category    5
Total             0
Men               0
Women             0
ShareWomen        0
Median            0
dtype: int64

In [18]:
len(df)

76

In [19]:
# Calculate percentage of null values per column
percent_null = (df.isnull().sum() / len(df)) * 100
print(percent_null)

Rank              0.000000
Major_code        0.000000
Major             0.000000
Major_category    6.578947
Total             0.000000
Men               0.000000
Women             0.000000
ShareWomen        0.000000
Median            0.000000
dtype: float64

In [ ]:

if 'ShareWomen' in df.columns:
	df['double_share_women'] = df['ShareWomen'] * 2  # create a new column
	print(df[['ShareWomen', 'double_share_women']].head())  # display the new column
else:
	print("Column 'ShareWomen' does not exist in the DataFrame. Available columns are:")
	print(df.columns)

   ShareWomen  double_share_women
0    0.120564            0.241129
1    0.101852            0.203704
2    0.153037            0.306075
3    0.107313            0.214626
4    0.144967            0.289934

In [ ]:
df.sort_values('ShareWomen') # sort the values in ascending order

,Rank,Major_code,Major,Major_category,Total,Men,Women,ShareWomen,Median,double_share_women
43,44,2504,MECHANICAL ENGINEERING RELATED TECHNOLOGIES,Engineering,4790,4419,371,0.077453,40000,0.154906
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,679,77,0.101852,75000,0.203704
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,1123,135,0.107313,70000,0.214626
7,8,2414,MECHANICAL ENGINEERING,Engineering,91227,80320,10907,0.119559,60000,0.239118
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,2057,282,0.120564,110000,0.241129
...,...,...,...,...,...,...,...,...,...,...
66,67,4002,NUTRITION SCIENCES,Health,18909,2563,16346,0.864456,35000,1.728912
58,59,6199,MISCELLANEOUS HEALTH MEDICAL PROFESSIONS,Health,13386,1589,11797,0.881294,36000,1.762588
26,27,6107,NURSING,Health,209394,21773,187621,0.896019,48000,1.792038
40,41,6104,MEDICAL ASSISTING SERVICES,Health,11123,803,10320,0.927807,42000,1.855614
74,75,6102,COMMUNICATION DISORDERS SCIENCES AND SERVICES,Health,38279,1225,37054,0.967998,28000,1.935996